@charset "utf-8";
/* 초기화 작업 */
html, body, div, header, nav, section, aside, article, footer, figure, figcaption, fieldset,
legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none; /* 불릿기호 제거 */
}
fieldset {
    border: 0;
}
.hidden {
    display: none;
}
body {
    background: linear-gradient(to right , #ccc 0%, #fff 10%, #fff 90%, #ccc);
}
#header{
    width: 1024px;
    height: 250px;
    margin: 0 auto;
    box-sizing: border-box; /*테두리나 여러이유로 전체크기가 넓어지지 않도록*/
    position: relative;
}
#header > .logo {
    display: flex;
    justify-content: center;
}
#header > .logo img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
#header .infoLink {
    position: relative;
    text-align: right;
}
#header .infoLink > li {
    position: relative;
    bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px 5px;
}
#header .infoLink > li:hover {
    background-color: #e4dede;
    border: 1px solid #000;
}
#header > .infoLink  a {
    font-size: 0.9em;
    padding: 3px 20px;
    text-decoration: none;
    color: black;
}

#header nav .mainMenu {
    overflow: hidden;
    background: linear-gradient(to right, #444, 70%, #999);
    border-radius: 15px;
    text-shadow: 2px 1px 2px #000;
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
    box-shadow: 2px 2px 3px #ccc;
}
#header nav .mainMenu > li {
    float: left;
    margin-left: 65px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 1.2em;
}
#header nav .mainMenu > li > a {
    text-decoration: none;
    color: #fff;
}
#header nav .mainMenu > li > a:hover {
    border-bottom: 2px solid;
    color: #f00;
}

#header nav .mainMenu > li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    top: 213px;
}
#header nav .mainMenu ul li {
    float: left;
    font-size: 0.9em;
    font-weight: bold;
}

.usanso {
    position: relative;
    display: none;
    font-weight: normal;
}
.usanso a{
    background-color: rgba(90, 90, 90, 0.7);
    padding: 8px;
    position: relative;
    left: 65px;
    padding-right: 15px;
    text-decoration: none;
}
.weightMachine {
    display: none;
}
.weightMachine a{
    background-color: rgba(90, 90, 90, 0.7);
    padding: 8px;
    position: relative;
    left: 190px;
    padding-right: 15px;
    text-decoration: none;
}
.weightLift {
    display: none;
}
.weightLift a{
    background-color: rgba(90, 90, 90, 0.7);
    padding: 8px;
    position: relative;
    left: 363px;
    padding-right: 15px;
    text-decoration: none;
}
.assistant {
    display: none;
}
.assistant a{
    background-color: rgba(90, 90, 90, 0.5);
    padding: 8px;
    position: relative;
    left: 90px;
    padding-right: 15px;
    text-decoration: none;
}
.mainMenu > li > ul > li > a{
    color: #fff;
}
.mainMenu > li > ul > li a:hover {
    color: rgb(255, 40, 40);
}
.searchBox {
    display: inline-block;
    position: relative;
    left: 750px;
}
.searchBox .search {
    position: absolute;
    margin-bottom: 50px;
    top: -59px;
    height: 40px;
    padding-left: 15px;
    border: 2px solid #222;
    border-radius: 5px 0 0 5px;
}
.searchBox button {
    box-sizing: border-box;
    position: absolute;
    left: 188px;
    top: -59px;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-image: url("../imay/search_icon.png");
    background-repeat: no-repeat;
    background-color: #fff;
}
/*메인 이미지 슬라이드 영역*/


/*푸터 영역*/
#footer {
    padding: 80px 0;
    font-size: 0.8em;
    color: #333;
    position: relative;
    overflow: hidden;
}

#footerInner {
    max-width: 1200px;
    margin: 0 auto;
}
#footerInner > div {
    float: left;
}

.left {
    width: 40%;
    float: left;
    padding-top: 30px;
}
.left p a {
    text-decoration: none;
}
.footLogo {
    margin-bottom: 20px;
}

.footLogo img {
    max-width: 100%;
}

.left ul {
    margin-bottom: 5px;
}

.left ul li {
    margin-bottom: 5px;
}

.left ul li a {
    color: #444;
    text-decoration: none;
}

.csCenter {
    width: 30%;
    padding-top: 90px;
}

.csCenter ul {
    margin-bottom: 5px;
}

.csCenter ul li {
    margin-bottom: 10px;
}

.csCenter ul li b {
    font-weight: bold;
}

.footContent {
    width: 30%;
    padding-top: 90px;
}

#footInfoList {
    margin-bottom: 10px;
}

#footInfoList ul {
    margin-bottom: 10px;
}

#footInfoList ul li {
    margin-bottom: 2px;
    font-size: 14px;
}

#footInfoList ul li img {
    max-width: 100%;
}
#footInfoList .mark {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}